.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wdr-credits{
  display: none;
}

/* #wdr-pivot-view .wdr-grid-layout .wdr-empty {
  border-color: transparent !important;
} */

#wdr-pivot-view .wdr-grid-layout #wdr-data-sheet {
  border-color: transparent !important;
}
.wdr-measure-header {
  width: 100px;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  word-break: normal !important;
  min-width: auto !important;
  white-space:nowrap !important;
}
/* .wdr-collapsed, .wdr-empty, .wdr-v-sort{
  display: none !important;
} */